.bat{
    transition: transform 0.6s ease-in;
}
.field:hover .bat{
    transform: rotate(-40deg);
    transform-origin:  right top;

}
.ball{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    left: 180px;
   transition: transform 1.5s ease-in 0.3s;
}
.field:hover .ball{
transform: translate(900px, -200px);
}
